# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/contentModel.xml
/.idea.xrn_rnd.iml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

# this file contains duplicates because P4 under windows needs backslash paths

# Visual Studio detritus
*.suo
*.sdf
*.opensdf
.vs

# UE4 cached stuff/build products
Unreal/DerivedDataCache
Unreal\DerivedDataCache
Unreal/Intermediate
Unreal\Intermediate
Unreal/Binaries
Unreal\Binaries
#/Build
Unreal/Saved
Unreal\Saved

# at the root of the project
DerivedDataCache
Intermediate
Binaries
Saved
*.sln
Plugins

EditorOpenOrder.log

Unreal/*.sln
Unreal\*.sln

/Plugins/*/Binaries
\Plugins\*\Binaries
/Plugins/*/Intermediate
\Plugins\*\Intermediate

*.reapeaks
*.skb